# Created by .ignore support plugin (hsz.mobi)
.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
bin
build
lib/
target
build.log
MANIFEST.MF
settings.xml
*.iml
.idea
*.jar
*.bat
.DS_Store